/* ALL ANIMATION FOR RYU HERE */
.ryu {
  width:73px; height:100px; /* exactly the size of an image in our sprite */
  background-image:url('../imgs/ryu_template.png');
}

/* css */

.punch {
  animation: punch steps(2) .15s infinite;
}

@keyframes punch {
  from {
    background-position: 0px -97px;
  }
  to {
    background-position: -163px -97px;
  }
}

/* kick */

.kick {
  animation: kick steps(5) 0.5s infinite;
}

@keyframes kick {
  from {
    background-position: 0px -278px;
  }
  to {
    background-position: -350px -278px;
  }
}
